<div style="width: 35em;">
  <center>
    <span style="font-size:20px"><b>Tilraun í íslenskri setningagerð</b></span>
  </center>

  <p>Takk fyrir að taka þátt í þessari tilraun.</p>

  <p>Vinsamlegast fylltu út eftirfarandi bakgrunnsupplýsingar.</p>

  <div>
    <label for="aldur">Aldur:</label>
    <input type="text" id="aldur" name="aldur" class="obligatory">
    <label class="error" for="aldur"></label>
  </div>

  <!-- <p style="margin-bottom:0">Kyn:</p> -->
  <!-- <div> -->
    <!-- <input type="radio" id="karlkyn" name="kyn" value="karlkyn" -->
    <!-- class="obligatory"> -->
    <!-- <label for="male">Karlkyn</label> -->
    <!-- <label class="error" for="kyn"></label> -->
  <!-- </div> -->

  <!-- <div> -->
    <!-- <input type="radio" id="kvenkyn" name="kyn" value="kvenkyn"> -->
    <!-- <label for="female">Kvenkyn</label> -->
  <!-- </div> -->

  <!-- <div> -->
    <!-- <input type="radio" id="kynsegin" name="kyn" value="kynsegin"> -->
    <!-- <label for="nonbinary">Kynsegin</label> -->
  <!-- </div> -->

  <!-- <div> -->
    <!-- <input type="radio" id="annad" name="kyn" value="annad"> -->
    <!-- <label for="other">Annað</label> -->
    <!-- <input type="text" id="annad_input" name="kyn_inntak"> -->
    <!-- (Tilgreindu ef þú vilt) -->
  <!-- </div> -->

  <p>
    <span>Er íslenska móðurmál þitt?</span>
    <input type="radio" id="yes" name="first_lang" value="ja"
                                                   class="obligatory">
    <label for="yes">Já</label>

    <input type="radio" id="no" name="first_lang" value="nei">
    <label for="no">Nei</label>
    <label class="error" for="first_lang"></label>
  </p>

  <!-- <p> -->
    <!-- <label for="other_lang">Önnur tungumál sem þú talar</label> -->
    <!-- <input type="text" id="other_lang" name="other_lang"> -->
  <!-- </p> -->

  <div>
    <label for="comment">Viltu koma einhverju á framfæri við rannsakendur sem
      gæti haft áhrif á niðurstöður (t.d. lesblinda (dyslexía),
      athyglisbrestur)?</label>
    <textarea id="comment" name="comment" rows="5" cols="60"></textarea>
  </div>
</div>
