<div style="width: 35em;">
  <center>
    <span style="font-size:20px"><b>Tilraun í íslenskri setningagerð</b></span>
  </center>

  <p>Kæri viðtakandi.</p>
  <p>
    Vinsamlega íhugaðu neðangreindar upplýsingar vandlega áður en þú ákveður
    hvort þú vilt taka þátt í þessari rannsókn.
  </p>

  <p><b>Tilgangur rannsóknarinnar</b></p>

  <p>
    Rannsóknin er hluti af meistaraverkefni Alec Shaw, <i>Málskilningur við
      truflandi aðstæður</i>, í almennum málvísindum við Háskóla Íslands. Í
    verkefninu eru könnuð tiltekin ferli í skilningi á íslenskum setningum, en
    rannsóknir á málskilningi í íslensku með aðferðum sálfræðilegra málvísinda
    eru afar takmarkaðar. Notaðar eru vel þekktar aðferðir til að kanna hvaða
    þættir hafa áhrif á málskilning.
  </p>

  <p><b>Hvað þurfa þátttakendur að gera?</b></p>

  <p>
    Rannsóknin fer fram á netinu. Þátttakendur lesa setningar, orð fyrir orð,
    af tölvuskjá og dæma þær á skalanum frá 1 (út í hött) til 7 (eðlileg og
    náttúrleg).
  </p>

  <p><b>Hvernig eru þátttakendur fundnir?</b></p>

  <p>
    Auglýst var eftir þátttakendum í gegnum Háskóla Íslands, Facebook og
    Twitter.
  </p>

  <p><b>Forsendur fyrir þátttöku</b></p>

  <p>
    Þátttakendur þurfa að tala íslensku sem móðurmál og vera eldri en 18
    ára.
  </p>

  <p><b>Rannsakendur</b></p>

  <p>
    Ábyrgðarmenn rannsóknarinnar eru dr. Rósa Signý Gísladóttir, lektor við
    Hugvísindasvið Háskóla Íslands (rosas@hi.is) og dr. Jóhannes Gísli Jónsson,
    prófessor við Hugvísindasvið Háskóla Íslands (jj@hi.is). Verkefnisstjóri er
    Alec Shaw, meistaranemi við Háskóla Íslands.
  </p>

  <p><b>Áhætta við að taka þátt í rannsókninni</b></p>

  <p>
    Rannsakendur telja ekki líkur á að rannsóknin feli í sér áhættu. Þeir sem
    taka þátt í rannsókninni geta hvenær sem er dregið sig út úr rannsókninni
    án þess að gefa sérstaka ástæðu fyrir ákvörðun sinni.
  </p>

  <p><b>Persónuvernd og úrvinnsla rannsóknargagna</b></p>

  <p>
    Niðurstöður verða tengdar við óauðkennanlega þátttakendatölu. Aðeins
    rannsakendur hafa aðgang að rannsóknargögnunum. Öll úrvinnsla verður unnin
    án persónuauðkenna.
  </p>

  <p><b>Upplýst samþykki</b></p>

  <p>
    Leitað verður eftir samþykki þátttakenda fyrir þátttöku í rannsókninni hér
    að neðan. Rannsóknin hefur verið tilkynnt til Vísindasiðanefndar Háskóla
    Íslands.
  </p>

  <p><b>Nánari upplýsingar</b></p>

  <p>
    Ef spurningar vakna varðandi rannsóknina er hægt að hafa samband við Alec
    Shaw (alecshaw@hi.is) til að fá frekari upplýsingar.
  </p>

  <p><b>Skilmálar samþykkis</b></p>

  <p>
    <b>Með því að taka þátt í rannsókninni staðfesti ég að ég hef lesið
      upplýsingarnar að ofan og skil hvað felst í þátttöku minni. Ég staðfesti
      jafnframt að ég hef náð 18 ára aldri og hef íslensku að móðurmáli.</b>
  </p>

  <input type="checkbox" class="obligatory" name="consent"
  id="consentcx"> <label for="consentcx">Ég samþykki þátttöku mína í
    rannsókninni.</label>
  <label class="error" for="consent"></label>
</div>
