<div style="width: 35em;">
  <p>Í þessari tilraun munt þú lesa setningar á íslensku og meta hvort hver og
    ein setning hljómi eins og náttúruleg og málfræðilega rétt íslenska.</p>

  <p>Setningarnar munu birtast sjálfkrafa á skjánum, eitt orð í einu og á
    jöfnum hraða. Á undan hverri setningu mun birtast plús merki (+) sem gefur
    til kynna að setning muni birtast fljótlega. Vertu í viðbragðsstöðu og
    reiðubúin/nn/ð að lesa þegar þú sérð merkið. Setningin birtist einni og
    hálfri sekúndu eftir plús merkið.</p>

  <p>Eftir að birtingu á setningu líkur, þá ert þú beðin/nn/ð um að meta hversu
    málfræðilega rétt setningin er á skalanum 1 (út í hött) til 7 (eðlilegt og
    náttúrlegt). <b>Notaðu tölustafshnappana á lyklaborðinu til að
  svara</b>.</p>

  <p>Það eru engin rétt eða röng svör, margir íslensku mælandi einstaklingar
    hafa mismunandi tilfinningar gagnvart því hvort setning hljómi rétt eða
    röng og það er fullkomlega eðlilegt. Þú mátt búast við því að sjá margar
    málfræðilega vitlausar eða skrítnar setningar.</p>

  <p>Hvað er átt við með málfræðilega rétt?  Það er einfaldlega átt við hvort
    setningin hljómi eins og íslenska sem þú getur ímyndað þér að heyra
    einstakling sem á íslensku að móðurmáli segja, eða hvort setningin
    innihaldi augljósa villu sem þú heldur að enginn með íslensku að móðurmáli
    myndi gera. Dæmi um málfræðilega vitlausa setningu á íslensku er: "Þessi
    stelpa voru sorgmædd".</p>

  <p>Við byrjum á æfingu.</p>

  <p><b>Það er mikilvægt að ljúka tilrauninni í einni lotu. Tilraunin
      tekur um 12 mínútur, með æfingunni.</b></p>
</div>
