<div style="width: 35em;">
  <p>Í þessari tilraun átt þú að lesa setningar og meta hvort þér finnst þær
    vera málfræðilega rétt íslenska.</p>

  <p>Setningarnar birtast sjálfkrafa á skjánum, eitt orð í einu og á jöfnum
    hraða. Á undan hverri setningu birtist plúsmerki (+) sem gefur til kynna að
    setning mun birtast fljótlega. Vertu í viðbragðsstöðu og reiðubúin/n/ð að
    lesa þegar þú sérð plúsmerkið. Setningin birtist einni og hálfri sekúndu
  eftir plúsmerkið.</p>

  <p>Eftir hverja setningu ertu beðin/n um að meta hversu málfræðilega rétt
      setningin er á skalanum 1 (út í hött) til 7 (eðlilegt og náttúrlegt).</p>

  <p><b>Smelltu með músinni á tölustafina til að svara.</b></p>
</div>
