<div style="width: 35em;">
  <p>Hvað er átt við með málfræðilega rétt? Það er einfaldlega átt við hvort
    setningin inniheldur augljósa málfræðilega villu sem þú heldur að enginn
    með íslensku að móðurmáli myndi gera, eða hvort hún „hljómar“ eins og
  eitthvað sem einstaklingur með íslensku að móðurmáli myndi segja. Þú mátt
  búast við því að sjá margar málfræðilega skrýtnar setningar.</p>

  <p>Dæmi um setningu á íslensku sem flestir myndu telja málfræðilega ranga:
    „Þessi stelpa voru sorgmædd“.</p>

  <p>Athugaðu að það eru engin rétt eða röng svör — einstaklingar hafa
    mismunandi tilfinningu fyrir því hvort setning hljómar rétt eða röng og
    það er fullkomlega eðlilegt.</p>
</div>
