.sentence {
     background-color: white;
     clear: both;
     font-family: Arial;
     font-size: 30px;
}
.question {
     padding-left: 0.6em;
     font-family: Arial;
}
.rating {
    padding-left: 0.6em;
    font-family: Arial;
}
.sentence {
    line-height: 400%;
}
.ospan {
     border-bottom: 1px solid #9ea4b1;
     background-color: white;
}
.ispan {
     visibility: hidden;
}
.practice-text {
    color: blue;
    font-weight: bold;
}
.iphone-next {
    clear: both;
    background: black;
    color: white;
    foreground: white;
    text-align: center;
    display: table;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-border-radius: 5px;
}
